<img src='{{staticPath}}img/logo.png' />
<div>
    <oc-component href="http://localhost:3060/footer/1.0.0/~preview/?__ocAcceptLanguage=*&"></oc-component>
    <oc-component href="http://localhost:3060/body/1.0.0/~preview/?__ocAcceptLanguage=*&userId=1"></oc-component>
    <oc-component href="http://localhost:3060/header/1.0.0/~preview/?__ocAcceptLanguage=*&userId=1"></oc-component>
</div>
<div>Hello {{name}}</div>